*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body
{
    background-image: url("svg2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar-nav a
{
    margin-right: 4rem;
    margin-left: 4rem;
}
h4
{
    color: rgb(29, 28, 27);
    position: absolute;
    top: 6rem;
    left: 1rem;
    text-shadow: 5px 5px 7px rgb(240, 221, 221);
}
#trending
{
    background-color: rgba(162, 153, 153, 0.6);
    border: 2px solid rgb(193, 187, 187);
    border-radius: 15px;
    margin-left: 2rem;
    max-width: 70%;
    /* position: absolute;
    top: 11rem;
    left: 8rem;
    width: 30rem; */
}
#trending ul a
{
    text-decoration: none;
    text-shadow: 1px 1px 7px rgb(80, 77, 77);;
    color: rgb(19, 60, 35);
    font-weight: 600;
    font-size: 1.2em;
}
#trending ul a:hover
{
    color: rgb(73, 234, 135);
}
#hotspot
{
    background-color: rgba(162, 153, 153, 0.6);
    border: 2px solid rgb(193, 187, 187);;
    border-radius: 15px;
    margin-left: 2rem;
    max-width: 70%;
    /* position: absolute;
    top: 11rem;
    left: 50rem; */
    /* height: 26.5rem; */
    /* width: 32rem; */
}
#hotspot a
{
    text-decoration: none;
    color: #171a0f;
    font-size: 1.5rem;
    margin: 2rem;
}
#hotspot a:hover
{
    color: rgb(73, 234, 135);
}
#hotspot img
{
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* height: ; */
    width: 50%;
    margin: 1rem;
}
#news
{
    background-color: rgba(162, 153, 153, 0.6);
    border: 2px solid rgb(193, 187, 187);;
    border-radius: 15px;
    margin-left: 2rem;
    max-width: 70%;
    display: inline-block;
    /* display: flex;
    flex-direction: row; */
}
#news ul
{
    list-style: none;
}
#news li
{
    display: inline-block;
}
#news ul li img
{
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 60%;
    margin: 1rem;
    transition: all ease-out 1s;
}
#news ul li img:hover 
{
    width: 80%;
}
.navbar-nav #logout
{
    margin-left:0;
}
footer
{
    width: 100%;
    color: antiquewhite;
    background-color: #373d26;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    /* position: absolute;
    bottom: 0; */
}
@media (max-width:882px)
{
    h4
    {
        font-size: 15px;
    }
}