*{
    margin:0px;
    padding: 0px;
}
label> input{
    padding: 2px;
    background-color: rgb(229, 232, 235);
    border: 3px solid #29261d;
    border-radius: 15px;
}






.b1
{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#29261d;
    border: 3px solid rgb(161, 193, 161);
    background-color: rgb(161, 193, 161);
    padding: 2px;
    border-radius: 15px;
}
.b1:hover{
    color:#eee6cd;
    background-color: rgb(23, 46, 45);
}
body
{
    background-image: url("bkg5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all ease-out 0.5s;
}

#signupbkg
{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-top: 6rem;
    width: 35%;
    background-color: #29261d;
    border: 10px solid #29261d;
    border-radius: 30px;
    padding: 4px;
    transition: all ease-out 0.5s;
}
.info
{
    font-size: 1.2em;
    color:rgb(161, 193, 161);
}
#signh
{
    font-size: 1.5em;
    color:#29261d;
    border: 3px solid rgb(161, 193, 161);
    background-color: rgb(161, 193, 161);
    border-radius: 15px;
}
@media (max-width: 600px)
{
    #signupbkg
    {
        width: 90%;
    }
}
@media (max-width: 400px)
{
    body
    {
        font-size: 0.6rem;
    }
    #signupbkg
    {
        margin-top: 14rem;
    }
}